.hero {
  padding: 48px 0 24px;

  h1,
  h2,
  h3,
  h4,
  p { color: $primary-color-text;}

  .sub-nav {
    margin-top: 1rem;
    display: inline-block;
  }

  @media #{$large-up} {
    .layout-header {
      .layout-container {
        padding-top: ru(3);
        padding-bottom: ru(2);
        min-height: ru(23.5);
      }
    }
  }
}

.advice .hero {
  padding-bottom: 0;
}

.advice.show .hero {
  padding-bottom: 4rem;
}

.hero-title .wrapper {
  text-align: center;

  h2 {
    padding-left: rem-calc(70px);
    display: inline-block;
    text-align: left;
    position: relative;
  }

  i {
    @include absolute(top 0 left 0);
  }
}

@media #{$large-up} {
  .hero {
    padding: 72px 0 48px;
    min-height: 564px;

    &.min {
      min-height: 320px;
    }
  }
}
