// scss-lint:disable all
/*doc
---
title: Member Card
name: member-card
category: Cards - Member Card
---
Click 'edit' link to show expanded version of this card.

```slim_example
.mod-member-card.collapsed style='max-width: 480px'
  .mod-feature-image-card
    span.icon-close
    .image
      img.member src='images/female-silhouette.png'
    .details
      h4 Proin
      h5 In rhoncus orci et ex fermentum, ut euismod
      .actions
        a href='#' data-edit-member-card='' enim

  .form
    span.icon-close
    h4 Member Name
    .selectfield
      .field
        label for='select1' Nunc in pharetra velit
        .selectbox
          select id='select1'
            option Pellentesque
            option Suspendisse
    .checkbox-list
      .header
        h4 Nulla maximus congue dolor sed vestibulum. Nunc mattis molestie libero, sed vulputate.
      .content
        label.checkbox
          input type='checkbox'
          span Aliquam nisl nibh
        label.checkbox
          input type='checkbox'
          span Morbi quis dui consequat
        label.checkbox
          input type='checkbox'
          span Nam accumsan quam eu blandit
        label.checkbox
          input type='checkbox'
          span Suspendisse sed sem sagittis
        label.checkbox
          input type='checkbox' checked='checked'
          span Gravida
        label.checkbox
          input type='checkbox' checked='checked'
          span Suscipit imperdiet
        label.checkbox
          input type='checkbox' checked='checked'
          span Maecenas efficitur
        label.checkbox
          input type='checkbox'
          span Phasellus tellus
        label.checkbox
          input type='checkbox'
          span Vivamus dictum justo
        label.checkbox
          input type='checkbox'
          span Venenatis pulvinar
        label.checkbox
          input type='checkbox'
          span Fusce ullamcorper
        label.checkbox
          input type='checkbox'
          span Proin et ultrices
        label.checkbox
          input type='checkbox'
          span Phasellus luctus
        label.checkbox
          input type='checkbox'
          span Nunc mattis iaculis
    .textfield
      .field
        label for='age'
          .help.i-help
          span Proin at nunc at nisi lobortis bibendum
          .hint
            | Sed et lacinia ante. Donec id urna feugiat, sollicitudin ante in, lacinia metus.
        input type='text' id='age' value='quis augue'
    .toggle
      .header
        label Nullam metus velit, efficitur
      .content
        label.toggler
          input type='radio' name='example1'
          span.button Fusce
        label.toggler
          input type='radio' name='example1' checked='checked'
          span.button Nec
    button.button.action type='submit' Aenean sit amet pretium
```

```js_example
$('a[data-edit-member-card]').on('click', function(e) {
  e.preventDefault();
  $(this).parents('.mod-member-card').removeClass('collapsed');
});
```
*/
// scss-lint:enable all

$member-card-color:            $neutral-2;
$member-card-border-color:     $brand-3;
$member-card-background-color: $neutral-8;
$member-card-border-width:     ru(.25);
$member-card-icon-size:        ru(1);
$member-card-image-width:      ru(5);

.mod-member-card {
  position: relative;
  background-color: $member-card-background-color;
  margin-bottom: ru(1);

  .mod-feature-image-card {
    display: none;
  }

  &.collapsed {
    .mod-feature-image-card {
      display: flex;
    }

    .form {
      display: none;
    }
  }

  .form {
    border: 1px solid $member-card-border-color;
    border-top-width: $member-card-border-width;
    border-bottom-width: $member-card-border-width;
    border-radius: ru(.25);
    padding: ru(1);
  }

  .icon-close {
    position: absolute;
    z-index: 1;
    top: -$member-card-icon-size / 2;
    right: -$member-card-icon-size / 2;
    background-size: 100%;
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      width: $member-card-icon-size;
      height: $member-card-icon-size;
    }
  }

  h4 {
    @include typography-5;
    font-weight: 400;
    margin: 0 0 ru(.75);
    color: $member-card-color;
  }
}
