.sidebar__total-estimation {
  border-top: 1px solid $primary-color-light;
  span { display: block; }
  color: $primary-color-light;
  font-family: $sans-serif;
  font-weight: lighter;
  .header {
    margin-top: rem-calc(10px);
    font-size: rem-calc(15px);
  }
  .value {
    margin-top: rem-calc(7px);
    color: $primary-color-very-light;
    font-size: rem-calc(24px);
  }
}

.sidebar__title {
  @include clearfix();
  padding-bottom: 30px;
  color: $primary-color;
  position: relative;
  i {
    @include absolute(top 14px left 0);
    font-size: rem-calc(36px);
  }
  h3 {
    padding-left: 50px;
    font-size: rem-calc(16px);
    line-height: 1.2;
    font-weight: bold;
    color: inherit;
  }
}
