@mixin field {
  margin-bottom: ru(1);

  @media #{$medium-up-to-xxlarge} {
    margin-bottom: ru(.75);
  }
}


@mixin field-label {
  @include typography-6;
  margin: 0;
  padding: ru(.5) ru(1);

  @media #{$medium-up-to-xxlarge} {
    @include typography-7;
    margin: 0;
    padding: ru(.5) ru(.75);
    line-height: ru(.75);
  }
}

@mixin field-input {
  @include typography-5;
  margin: 0;
  padding: ru(.5) ru(1);

  @media #{$medium-up-to-xxlarge} {
    @include typography-6;
    margin: 0;
    padding: ru(.42) ru(.75);
  }
}
