$icons: (
  cursor: '\E001',
  crosshair: '\2316',
  search: '\1F50E',
  zoomin: '\E002',
  zoomout: '\E003',
  screenshot: '\E004',
  binoculars: '\E010',
  view: '\1F440',
  attach: '\1F4CE',
  link: '\1F517',
  move: '\E070',
  write: '\270E',
  writingdisabled: '\E071',
  erase: '\2710',
  compose: '\1F4DD',
  draw: '\270F',
  lock: '\1F512',
  unlock: '\1F513',
  key: '\1F511',
  backspace: '\232B',
  ban: '\1F6AB',
  nosmoking: '\1F6AD',
  trash: '\E0D0',
  target: '\25CE',
  new: '\1F195',
  tag: '\E100',
  pricetag: '\E102',
  flowertag: '\E103',
  bookmark: '\1F516',
  flag: '\2691',
  like: '\1F44D',
  dislike: '\1F44E',
  heart: '\2665',
  halfheart: '\E1A0',
  emptyheart: '\2661',
  star: '\22C6',
  halfstar: '\E1A1',
  medal: '\E1C1',
  ribbon: '\1F380',
  bullseye: '\1F3AF',
  sample: '\E200',
  crop: '\E201',
  layers: '\E202',
  gridlines: '\E206',
  pen: '\2712',
  feather: '\E220',
  rubbereraser: '\E221',
  paintroller: '\E225',
  rubberstamp: '\E226',
  checkclipboard: '\E2B3',
  linechartclipboard: '\E2B5',
  clockwise: '\2941',
  phone: '\1F4DE',
  phonedisabled: '\E300',
  headset: '\E302',
  megaphone: '\1F4E2',
  rss: '\E310',
  facetime: '\E320',
  reply: '\21A9',
  send: '\E350',
  mail: '\2709',
  inbox: '\1F4E5',
  outbox: '\1F4E4',
  wifimail: '\E352',
  chat: '\1F4AC',
  user: '\1F464',
  femaleuser: '\1F467',
  users: '\1F465',
  usergroup: '\E400',
  adduser: '\E401',
  removeuser: '\E402',
  deleteuser: '\E404',
  userprofile: '\E406',
  businessuser: '\E407',
  cart: '\E500',
  addcart: '\E501',
  removecart: '\E502',
  deletecart: '\E504',
  downloadcart: '\E505',
  emptycart: '\E507',
  basket: '\E510',
  gift: '\1F381',
  apple: '\1F34F',
  cashregister: '\E530',
  store: '\1F3EC',
  searchbarcode: '\E531',
  notepad: '\E972',
  creditcard: '\1F4B3',
  safe: '\E540',
  digitalsafe: '\E541',
  atm: '\1F3E7',
  dispensecash: '\E542',
  banknote: '\1F4B5',
  coins: '\E543',
  bankcheck: '\E544',
  piggybank: '\E545',
  moneybag: '\1F4B0',
  tip: '\E546',
  calculator: '\E551',
  percent: '\0025',
  bank: '\1F3E6',
  scales: '\2696',
  piechart: '\E570',
  piechartthirds: '\E571',
  barchart: '\1F4CA',
  upwardsbarchart: '\E572',
  downwardsbarchart: '\E573',
  horizontalbarchart: '\E574',
  analytics: '\E575',
  upwardslinechart: '\1F4C8',
  downwardslinechart: '\1F4C9',
  linecharts: '\E576',
  scatterchart: '\E578',
  stock: '\E579',
  form: '\E582',
  box: '\1F4E6',
  crate: '\E5D8',
  deliveryvan: '\E5E0',
  deliverytruck: '\E5E1',
  forklift: '\E5E2',
  cargoship: '\E5E3',
  hook: '\E5E4',
  weight: '\E5E5',
  containers: '\E5E6',
  fragile: '\E5E7',
  thissideup: '\E5E8',
  home: '\2302',
  building: '\1F3E2',
  lodging: '\1F3E8',
  earth: '\1F30E',
  globe: '\1F310',
  garage: '\E600',
  warehouse: '\E602',
  floorplan: '\E610',
  address: '\E611',
  searchhouse: '\E612',
  housesale: '\E613',
  navigate: '\E670',
  compass: '\E671',
  signpost: '\E672',
  map: '\E673',
  gps: '\E674',
  compassnavigate: '\E680',
  compassarrow: '\E681',
  location: '\E6D0',
  pin: '\1F4CD',
  pushpin: '\1F4CC',
  maplocation: '\E6D1',
  globelocation: '\E6D2',
  puzzle: '\E710',
  floppydisk: '\1F4BE',
  firewall: '\E720',
  database: '\E7A0',
  hdd: '\E7B0',
  music: '\266B',
  eighthnote: '\266A',
  mic: '\1F3A4',
  volume: '\1F508',
  lowvolume: '\1F509',
  highvolume: '\1F50A',
  radio: '\1F4FB',
  stereo: '\E801',
  airplay: '\E800',
  vinylrecord: '\E810',
  disc: '\1F4BF',
  camera: '\1F4F7',
  picture: '\1F304',
  video: '\1F4F9',
  playvideo: '\E8A1',
  play: '\25B6',
  pause: '\E8A0',
  stop: '\25A0',
  record: '\25CF',
  rewind: '\23EA',
  fastforward: '\23E9',
  skipback: '\23EE',
  skipforward: '\23ED',
  eject: '\23CF',
  repeat: '\1F501',
  replay: '\21BA',
  shuffle: '\1F500',
  index: '\E902',
  page: '\E903',
  book: '\1F4D5',
  books: '\1F4DA',
  openbook: '\1F4D6',
  heartbook: '\E962',
  downloadbook: '\E963',
  musicopenbook: '\E966',
  searchbook: '\E967',
  notebook: '\1F4D3',
  newspaper: '\1F4F0',
  notice: '\E973',
  rows: '\E9A1',
  columns: '\E9A2',
  thumbnails: '\E9A3',
  pagecurl: '\E9B0',
  desktop: '\1F4BB',
  laptop: '\EA00',
  tablet: '\EA01',
  smartphone: '\EA02',
  cell: '\1F4F1',
  walkytalky: '\EA03',
  ereader: '\EA04',
  ebook: '\EA05',
  wifibook: '\E968',
  wifiopenbook: '\E969',
  battery: '\1F50B',
  highbattery: '\EA10',
  mediumbattery: '\EA11',
  lowbattery: '\EA12',
  emptybattery: '\EA13',
  chargingbattery: '\EA14',
  heartmobile: '\EA23',
  phonemobile: '\EA24',
  lockmobile: '\EA25',
  textmobile: '\EA26',
  dollarmobile: '\EA27',
  euromobile: '\EA28',
  rssmobile: '\EA29',
  navigationmobile: '\EA2A',
  batterymobile: '\EA2B',
  powermobile: '\EA2C',
  browseonline: '\EA30',
  shoponline: '\EA31',
  bankonline: '\EA32',
  realtyonline: '\EA33',
  readonline: '\EA34',
  weatheronline: '\EA35',
  lightbulb: '\1F4A1',
  lightbulbon: '\EA83',
  cfl: '\EA85',
  hairdryer: '\EA88',
  picnictable: '\EAB1',
  flame: '\EAB2',
  campfire: '\1F525',
  bonfire: '\EAB3',
  balloon: '\1F388',
  christmastree: '\1F384',
  sweep: '\EA86',
  chess: '\265E',
  onedie: '\2680',
  twodie: '\2681',
  threedie: '\2682',
  fourdie: '\2683',
  fivedie: '\2684',
  sixdie: '\2685',
  downloadcloud: '\EB00',
  download: '\EB01',
  downloadbox: '\EB02',
  downloadcrate: '\EB03',
  uploadcloud: '\EB40',
  upload: '\EB41',
  uploadbox: '\EB42',
  uploadcrate: '\EB43',
  fork: '\EB80',
  merge: '\EB81',
  refresh: '\21BB',
  sync: '\EB82',
  loading: '\EB83',
  wifi: '\EB84',
  connection: '\EB85',
  reload: '\EB87',

  // Files
  file: '\1F4C4',
  addfile: '\EC01',
  removefile: '\EC02',
  deletefile: '\EC04',
  downloadfile: '\EC06',
  uploadfile: '\EC07',
  importfile: '\EC08',
  exportfile: '\EC09',
  settingsfile: '\EC0A',
  lockfile: '\EC11',
  userfile: '\EC15',
  picturefile: '\EC17',
  textfile: '\EC19',
  exe: '\EC30',
  zip: '\EC31',
  doc: '\EC32',
  ppt: '\EC33',
  pdf: '\EC34',
  jpg: '\EC35',
  png: '\EC36',
  folder: '\1F4C1',
  openfolder: '\1F4C2',
  downloadfolder: '\EC76',
  uploadfolder: '\EC77',
  cloudfolder: '\EC80',
  lockfolder: '\EC81',
  securefolder: '\EC83',
  picturefolder: '\EC87',
  moviefolder: '\EC88',

  quote: '\201C',
  text: '\ED00',
  font: '\ED01',
  highlight: '\ED11',
  print: '\2399',
  fax: '\1F4E0',
  list: '\ED50',
  layout: '\EDA0',
  action: '\EE00',
  redirect: '\21AA',
  expand: '\2922',
  contract: '\EE01',
  help: '\2753',
  info: '\2139',
  alert: '\26A0',
  caution: '\26D4',
  logout: '\EE02',
  login: '\EE03',
  scaleup: '\EE04',
  scaledown: '\EE05',
  plus: '\002B',
  hyphen: '\002D',
  check: '\2713',
  delete: '\2421',
  bearface: '\1F43B',
  bird: '\1F426',
  fishes: '\EF20',
  tropicalfish: '\EF21',
  tree: '\1F333',
  evergreen: '\1F332',
  palmtree: '\1F334',
  leaf: '\1F342',
  seedling: '\1F331',
  grass: '\EF70',
  settings: '\2699',
  dashboard: '\F000',
  dial: '\F004',
  notifications: '\1F514',
  notificationsdisabled: '\1F515',
  flash: '\2301',
  wrench: '\1F527',
  tapemeasure: '\F036',
  clock: '\23F2',
  watch: '\231A',
  stopwatch: '\23F1',
  alarmclock: '\23F0',
  calendar: '\1F4C5',
  addcalendar: '\F070',
  removecalendar: '\F071',
  checkcalendar: '\F072',
  deletecalendar: '\F073',

  // Food
  sausage: '\F103',
  burger: '\1F354',
  pizza: '\1F355',
  fish: '\1F41F',
  shrimp: '\1F364',
  turkey: '\F105',
  steak: '\F106',
  sidedish: '\1F35A',
  noodles: '\1F35C',
  spaghetti: '\1F35D',
  corn: '\F110',
  carrot: '\F111',
  icecream: '\1F368',
  mug: '\2615',
  beer: '\1F37A',
  bottle: '\F122',
  wineglass: '\1F377',
  cocktail: '\1F378',
  tea: '\1F375',
  teapot: '\F127',
  waterbottle: '\F128',
  wineglasssparkle: '\F129',
  salt: '\F130',
  pepper: '\F131',
  oliveoil: '\F132',
  hotsauce: '\F133',
  coal: '\F136',
  oven: '\F140',
  stove: '\F141',
  cook: '\1F373',
  bbq: '\F142',
  utensils: '\1F374',
  spoonfork: '\F150',
  knife: '\1F52A',
  cookingutensils: '\F151',
  measuringcup: '\F162',
  colander: '\F163',
  scale: '\F164',
  eggtimer: '\F165',
  platter: '\F166',
  apron: '\F170',
  bbqapron: '\F171',
  chef: '\F172',

  handbag: '\1F45C',
  briefcase: '\1F4BC',
  hanger: '\F1A0',

  // Weather
  weathervane: '\F200',
  thermometer: '\F201',
  weather: '\F210',
  cloud: '\2601',
  droplet: '\1F4A7',
  sun: '\2600',
  partlycloudy: '\26C5',
  rain: '\2614',
  thunderstorm: '\26C8',
  umbrella: '\2602',
  rainbow: '\1F308',
  fog: '\F211',
  wind: '\F212',
  tornado: '\F213',
  snowflake: '\2744',
  fan: '\F280',
  solarpanel: '\F281',

  plug: '\1F50C',
  outlet: '\F282',

  // Transportation
  car: '\1F698',
  taxi: '\1F696',
  locomotive: '\1F682',
  train: '\1F686',
  traintunnel: '\1F687',
  bus: '\1F68D',
  truck: '\1F69A',
  caravan: '\1F690',
  tractor: '\1F69C',
  tunnel: '\F323',
  plane: '\2708',
  arrival: '\F325',
  departure: '\F324',
  helicopter: '\1F681',
  bike: '\1F6B2',
  motorcycle: '\F303',
  boat: '\1F6A2',
  sailboat: '\26F5',
  schooner: '\F305',
  skylift: '\1F6A1',
  rocket: '\1F680',
  steeringwheel: '\F313',
  trafficcamera: '\F314',
  fuel: '\26FD',
  jerrycan: '\F315',
  passport: '\F316',
  trafficlight: '\1F6A6',
  highway: '\F320',
  road: '\F321',
  intersection: '\F322',
  wheelchair: '\267F',
  elevator: '\F380',

  // Sports
  golf: '\F400',
  hockey: '\F401',
  iceskate: '\26F8',
  billiards: '\1F3B1',
  baseballglove: '\F404',
  tennis: '\1F3BE',
  tabletennis: '\F402',
  badminton: '\F403',
  boxing: '\F405',
  bowling: '\F406',
  football: '\1F3C8',
  soccer: '\26BD',
  hiker: '\F410',
  pool: '\E412',
  shower: '\1F6BF',
  exercise: '\F414',
  exercisebike: '\F415',
  dumbbell: '\F416',
  jumprope: '\F417',
  yoga: '\F418',

  suitcase: '\E420',
  luggage: '\E421',
  donotdisturb: '\E422',
  sunscreen: '\F423',
  callbell: '\F424',
  hospital: '\26E8',
  medicalcross: '\F4B0',
  ambulance: '\1F691',
  bandage: '\F4B2',
  medicalthermometer: '\F4B3',
  stethoscope: '\F4B4',
  syringe: '\1F489',
  pill: '\1F48A',
  pillbottle: '\F4B5',
  supplements: '\F4B6',
  bathroomscale: '\F4B7',
  dna: '\F4C2',
  anatomicalheart: '\F4D0',
  checkheart: '\F4D1',
  eyesurgery: '\F4E0',
  brokenbone: '\F4E1',

  // Directionals
  up: '\2B06',
  upright: '\2B08',
  right: '\27A1',
  downright: '\2B0A',
  down: '\2B07',
  downleft: '\2B0B',
  left: '\2B05',
  upleft: '\2B09',
  navigateup: '\F500',
  navigateright: '\25BB',
  navigatedown: '\F501',
  navigateleft: '\25C5',
  directup: '\25B4',
  directright: '\25B9',
  dropdown: '\25BE',
  directleft: '\25C3',
  leftright: '\2B0C',
  rightward: '\F503',
  leftward: '\F505',
  previouspage: '\2397',
  nextpage: '\2398',
  retweet: '\F600',
  share: '\F601'
);

@mixin icon-styles($icon, $position: before) {
  content: map-get($icons, $icon);
  display: inline-block;
  margin: rem-calc(5px) if($position == before, rem-calc(10px), 0) 0 if($position == after, rem-calc(10px), 0);
  vertical-align: middle;
  font-family: 'SSPika';
  @content;
}

@mixin icon($icon, $position: before) {
  &::#{$position} {
    @include icon-styles($icon, $position) {
      @content;
    }
  }
}

%default-icon {
  display: inline-block;
  font-family: 'SSPika';
  font-weight: normal;
  margin-right: rem-calc(10px);
  vertical-align: middle;
}

@each $icon in $default-icons {
  @if map-has-key($icons, $icon) {
    .i-#{$icon}::before {
      @extend %default-icon;
      content: map-get($icons, $icon);
    }
  }
}

.icon-vehicles:after { background-image: url('/images/step-progress-vehicles.svg'); }
.icon-drivers:after { background-image: url('/images/step-progress-drivers.svg'); }
.icon-discounts:after { background-image: url('/images/step-progress-discounts.svg'); }
.icon-insurance:after { background-image: url('/images/step-progress-insurance.svg'); }
.icon-quotes:after { background-image: url('/images/step-progress-quotes.svg'); }
.icon-calculator:after { background-image: url('/images/step-progress-calculator.svg'); }
.icon-basics:after { background-image: url('/images/step-progress-basics.svg'); }
.icon-health:after { background-image: url('/images/step-progress-health.svg'); }
.icon-application:after { background-image: url('/images/step-progress-application.svg'); }
.icon-thumbs-up:after { background-image: url('/images/icon-thumbs-up.svg'); }
.icon-direction-arrows:after { background-image: url('/images/icon-direction-arrows.svg'); }
.icon-check:before { background-image: url('/images/check-icon.svg'); }
.icon-checkmark:before { background-image: url('/images/icon-checkmark.png'); }
.icon-check-dark:before { background-image: url('/images/step-progress-check-mark.svg'); }
.icon-close:before { background-image: url('/images/x-icon.svg'); }
.icon-priorities:before { background-image: url('/images/icon-priorities.svg'); }
.icon-comments:before { background-image: url('/images/icon-comments.svg'); }
.icon-close-accent:before { background-image: url('/images/icon-close-accent.svg'); }
.icon-graph:before { background-image: url('/images/icon-graph.svg'); }
.icon-teal-circle:before { background-image: url('/images/icon-teal-circle.svg'); }
.icon-turquoise-circle:before { background-image: url('/images/icon-turquoise-circle.svg'); }
.icon-tangerine-circle:before { background-image: url('/images/icon-tangerine-circle.svg'); }
.icon-tiger-circle:before { background-image: url('/images/icon-tiger-circle.svg'); }
.icon-discount-white:before { background-image: url('/images/icon-discount-white.svg'); }
.icon-facebook-white:before { background-image: url('/images/icon-facebook-white.svg'); }
.icon-twitter-white:before { background-image: url('/images/icon-twitter-white.svg'); }
.icon-pinterest-white:before { background-image: url('/images/icon-pinterest-white.svg'); }
.icon-linkedin-white:before { background-image: url('/images/icon-linkedin-white.svg'); }
.icon-google-white:before { background-image: url('/images/icon-google-white.svg'); }
