// scss-lint:disable all
/*doc
---
title: Logos Row
name: logos-row
category: Modules - Logos Row
---
```slim_example
.mod-logos-row
  .logos-row-panel
    .logos-row-item
      img.logos-row-img src='images/metlife-03-grey.svg'
    .logos-row-item
      img.logos-row-img src='images/metlife-03-grey.svg'
    .logos-row-item
      img.logos-row-img src='images/metlife-03-grey.svg'
    .logos-row-item
      img.logos-row-img src='images/metlife-03-grey.svg'
  .logos-row-scroll-arrow
  .logos-row-panel
    .logos-row-item
      img.logos-row-img src='images/metlife-03-grey.svg'
    .logos-row-item
      img.logos-row-img src='images/metlife-03-grey.svg'
    .logos-row-item
      img.logos-row-img src='images/metlife-03-grey.svg'
    .logos-row-item
      img.logos-row-img src='images/metlife-03-grey.svg'
```
*/
// scss-lint:enable all

$container-max-width:     rem-calc(1240px);
$container-indent:        calc(50% - #{$container-max-width / 2});
$container-border-color:  $neutral-6;

.mod-logos-row {
  background-color: $neutral-7;
  border-color: $container-border-color;
  border-style: solid;
  border-width: 1px 0;

  .logos-row-item {
    padding: 0 ru(.5);
    flex-basis: 25%;
    width: 25%;
  }

  .logos-row-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 0;
    flex-grow: .45;
    text-align: center;
    padding: ru(.25);
  }

  .logos-row-scroll-arrow {
    display: none;
    cursor: pointer;
    flex-grow: 0;
    width: rem-calc(52px);
    height: rem-calc(18px);
    background-image: url('images/chevron-01-grey.svg');
  }

  .logos-row-img {
    display: flex;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: ru(4.5);
    max-height: ru(1);

    &.tall-logo {
      max-height: ru(1.5);
    }
  }

  @media #{$medium-up} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    height: ru(3.25);
    padding-left: $container-indent;
    padding-right: $container-indent;

    .logos-row-panel {
      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    .logos-row-scroll-arrow {
      display: block;
    }
  }

  @media #{$small-only} {
    order: 2;

    .logos-row-panel {
      &:first-child {
        padding-bottom: 0;
      }

      &:last-child {
        padding-top: 0;
      }
    }

    .logos-row-item {
      flex-basis: 50%;
    }

    .logos-row-img {
      margin: .75rem auto;
    }
  }

  @media #{$ie10-11} {
    .logos-row-item {
      flex-basis: auto;
    }
  }
}
