// scss-lint:disable all
/*doc
---
title: Image Aside
name: image-aside
category: Modules - Image Aside
---
```slim_example
.mod-image-aside
  img src='holder.js/100x100?auto=yes'
  aside
    h5 Vivamus ultricies augue
    p Maecenas gravida ex a sed vulputate, sodales cursus risus blandit.
```

```slim_example
.mod-image-aside.compact
  img src='holder.js/80x80?auto=yes'
  aside
    strong Suspendisse molestie vel
    p Phasellus viverra mollis massa ut eleifend.
```
*/
// scss-lint:enable all

$icon-aside-default-icon-color: $brand-3;

.mod-image-aside {
  display: flex;
  align-items: flex-start;
  margin: 0 0 ru(.75);

  img {
    flex: 0 1;
    + aside { margin-left: ru(.75); }
  }

  aside {
    flex: 1 0;

    h5,
    p {
      @include typography-5;
      margin: 0;
      color: inherit;
    }

    h5 {
      font-weight: 600;
    }

    p {
      font-weight: 400;
    }

    + img {
      margin-left: ru(.75);
    }
  }

  &.compact {
    strong {
      @include typography-6;
      margin-bottom: 0;
    }

    p {
      @include typography-7;
      font-weight: 300;
      margin-bottom: 0;
    }
  }

  &.centered {
    align-items: center;
  }
}
