/*doc
---
title: Plan Comparison Tables
name: plan_comparison_table
category: Modules - Plan Comparison Tables
---

## Side-by-Side Plan Comparison Table

This module currently relies heavily on the [vertical card](cards_-_vertical_card.html) to provide structure. Please use this module as a means to organize vertical cards into a table for easy comparison.

There are 2 versions: (1) a plain table and (2) a table with a sticky header. Any row or data can be made in a 'sticky' header, just ensure that your sticky header's columns match the columns of the table on which it is 'stuck'.

### Plain Side-by-Side Comparison Table
```slim_example
.mod-plan-comparison-table
  .sbs-wrapper
    .plan-comparison-table-card-wrapper
      .mod-vertical-card.vertical
        table.sbs-table
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-header.connected-bottom
                h2.mod-vertical-card-title Oscar Health Insurance
            td.sbs-col
              .mod-vertical-card-header.connected-bottom
                h2.mod-vertical-card-title Oscar Health Insurance
          tr.sbs-row.clear
            td.sbs-col
              .mod-vertical-card-header.connected-top
                .mod-vertical-card-details
                  .mod-vertical-card-stars
                    .com-rating.compact.narrow
                      .stars
                        .i-star.active
                        .i-star.active
                        .i-star.active
                        .i-star
                        .i-star
                    .i-help
                  .mod-vertical-card-tier
                    strong
                      | Bronze Plan
                      i.i-help
                .mod-vertical-card-actions
                  a.button.action.full-width.i-clock href='#' Quick Enroll
                  a.button.outline.full-width.mini href='#' View Details
                  a.mod-vertical-card-hint href="#" What is a Quick Enroll plan?
            td.sbs-col
              .mod-vertical-card-header.connected-top
                .mod-vertical-card-details
                  .mod-vertical-card-stars
                    .com-rating.compact.narrow
                      .stars
                        .i-star.active
                        .i-star.active
                        .i-star.active
                        .i-star
                        .i-star
                    .i-help
                  .mod-vertical-card-tier
                    strong
                      | Bronze Plan
                      i.i-help
                .mod-vertical-card-actions
                  a.button.action.full-width.i-clock href='#' Quick Enroll
                  a.button.outline.full-width.mini href='#' View Details
                  a.mod-vertical-card-hint href="#" What is a Quick Enroll plan?
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | On Exchange Plan
                  i.i-help
                .mod-vertical-card-tier
                  strong Classic Bronze Dep29 Classi9
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | On Exchange Plan
                  i.i-help
                .mod-vertical-card-tier
                  strong Classic nze Dep29 Classic Bronze Dep29
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Monthly Premium
                  i.i-help
                .mod-vertical-card-price
                  .sign-vertical
                    .icon-discount-white
                  span.mod-vertical-card-price-value $125
                  small.mod-vertical-card-price-period
                    '  /month
                ul.mod-icon-list.condensed
                  li.icon-checkmark Under $200
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Monthly Premium
                  i.i-help
                .mod-vertical-card-price
                  .sign-vertical
                    .icon-discount-white
                  span.mod-vertical-card-price-value $125
                  small.mod-vertical-card-price-period
                    '  /month
                ul.mod-icon-list.condensed
                  li.icon-checkmark Under $200
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Deductible
                  i.i-help
                .mod-vertical-card-price
                  strong.mod-vertical-card-price-value.small $3,500
                  span.mod-vertical-card-price-period.small
                    '  /year
                ul.mod-icon-list.condensed
                  li.icon-checkmark Under $4,000
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Deductible
                  i.i-help
                .mod-vertical-card-price
                  strong.mod-vertical-card-price-value.small $3,500
                  span.mod-vertical-card-price-period.small
                    '  /year
                ul.mod-icon-list.condensed
                  li.icon-checkmark Under $4,000
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Max Out of Pocket
                  i.i-help
                .mod-vertical-card-price
                  strong.mod-vertical-card-price-value.small $5,400
                  span.mod-vertical-card-price-period.small
                    '  /year
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Max Out of Pocket
                  i.i-help
                .mod-vertical-card-price
                  strong.mod-vertical-card-price-value.small $5,400
                  span.mod-vertical-card-price-period.small
                    '  /year
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Your Prescriptions
                  i.i-help
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span
                    | before deductible &nbsp;
                    i.i-help
                div.mod-vertical-card-description-item
                  b $10 &nbsp;
                  span
                    | after deductible &nbsp;
                    i.i-help
                ul.mod-icon-list.condensed
                  li.icon-close-accent
                     span.bold Prozac
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Your Prescriptions
                  i.i-help
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span
                    | before deductible &nbsp;
                    i.i-help
                div.mod-vertical-card-description-item
                  b $10 &nbsp;
                  span
                    | after deductible &nbsp;
                    i.i-help
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Doctors in Network
                  i.i-help
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .text-truncation
                      .truncate Dr. Jones Frankenstein Frankenstein Frankenstein
                  li.icon-checkmark
                    .text-truncation
                      .truncate Dr. Smith
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Doctors in Network
                  i.i-help
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .text-truncation
                      .truncate Dr. Jones Jones Jones Jones
                  li.icon-checkmark
                    .text-truncation
                      .truncate Dr. Frankenstein Frankenstein
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Benefits
                  i.i-help
                h4.mod-vertical-card-underlined Doctor visits
                h5.mod-vertical-card-minititle Generic
                div.mod-vertical-card-description-item
                  b Always free
                h5.mod-vertical-card-minititle Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                h5.mod-vertical-card-minititle Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Benefits
                  i.i-help
                h4.mod-vertical-card-underlined Doctor visits
                h5.mod-vertical-card-minititle Generic
                div.mod-vertical-card-description-item
                  b Always free
                h5.mod-vertical-card-minititle Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                h5.mod-vertical-card-minititle Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Estimated Annual Cost
                  i.i-help
                .mod-vertical-card-price
                  span.mod-vertical-card-price-value $1,746
                  small.mod-vertical-card-price-period
                    '  /year
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Estimated Annual Cost
                  i.i-help
                .mod-vertical-card-price
                  span.mod-vertical-card-price-value $1,746
                  small.mod-vertical-card-price-period
                    '  /year
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Network Type
                  i.i-help
                h2.mod-vertical-card-title EPO
                ul.mod-icon-list.condensed
                  li.icon-checkmark No referral needed to see a specialist
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Network Type
                  i.i-help
                h2.mod-vertical-card-title EPO
                ul.mod-icon-list.condensed
                  li.icon-checkmark No referral needed to see a specialist
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Network Size
                  i.i-help
                .mod-vertical-card-dl
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 50K
                    .mod-vertical-card-dd Primary care doctors
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 84K
                    .mod-vertical-card-dd Specialists
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 16
                    .mod-vertical-card-dd Hospitals/Medical Centers
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 56
                    .mod-vertical-card-dd Urgent Care Centers
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Network Size
                  i.i-help
                .mod-vertical-card-dl
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 50K
                    .mod-vertical-card-dd Primary care doctors
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 84K
                    .mod-vertical-card-dd Specialists
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 16
                    .mod-vertical-card-dd Hospitals/Medical Centers
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 56
                    .mod-vertical-card-dd Urgent Care Centers
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                h2.mod-vertical-card-title Provider Map
                .mod-card-form.filter
                  label.teal
                    .checkbox.flip
                      input type='checkbox'
                      span.truncate Oscar Blue Cross Blue
                    p MegaClassis Gold Silver Bronze
            td.sbs-col
              .mod-vertical-card-section
                h2.mod-vertical-card-title &nbsp;
                .mod-card-form.filter
                  label.pink
                    .checkbox.flip
                      input type='checkbox'
                      span.truncate Oscar Blue Cross Blue
                    p MegaClassis Gold Silver Bronze
```
### Sticky Header Side-by-Side Comparison Table
```slim_example
.mod-plan-comparison-table
  .sbs-wrapper.sbs-sticky-wrapper
    .plan-comparison-table-card-wrapper
      .mod-vertical-card
        table.sbs-table
          tr.sbs-sticky-row
            td.sbs-col
              .sticky-card-section
                .sticky-card-price
                  .sign-vertical
                    .icon-discount-white
                  span.mod-vertical-card-price-value $125
                  small.mod-vertical-card-price-period
                    '  /month
                .button.action.sticky-card-button Apply
            td.sbs-col
              .sticky-card-section
                .sticky-card-price
                  .sign-vertical
                    .icon-discount-white
                  span.mod-vertical-card-price-value $125
                  small.mod-vertical-card-price-period
                    '  /month
                .button.action.sticky-card-button Apply
            td.sbs-col
              .sticky-card-section
                .sticky-card-price
                  .sign-vertical
                    .icon-discount-white
                  span.mod-vertical-card-price-value $125
                  small.mod-vertical-card-price-period
                    '  /month
                .button.action.sticky-card-button Apply
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-header.connected-bottom
                h2.mod-vertical-card-title Oscar Health Insurance
            td.sbs-col
              .mod-vertical-card-header.connected-bottom
                h2.mod-vertical-card-title Oscar Health Insurance Oscar Health Insurance
            td.sbs-col
              .mod-vertical-card-header.connected-bottom
                h2.mod-vertical-card-title Oscar Health Insurance
          tr.sbs-row.clear
            td.sbs-col
              .mod-vertical-card-header.connected-top
                .mod-vertical-card-details
                  .mod-vertical-card-stars
                    .com-rating.compact.narrow
                      .stars
                        .i-star.active
                        .i-star.active
                        .i-star.active
                        .i-star
                        .i-star
                    .i-help
                  .mod-vertical-card-tier
                    strong
                      | Bronze Plan
                      i.i-help
                .mod-vertical-card-actions
                  a.button.action.full-width.i-clock href='#' Quick Enroll
                  a.button.outline.full-width.mini href='#' View Details
                  a.mod-vertical-card-hint href="#" What is a Quick Enroll plan?
            td.sbs-col
              .mod-vertical-card-header.connected-top
                .mod-vertical-card-details
                  .mod-vertical-card-stars
                    .com-rating.compact.narrow
                      .stars
                        .i-star.active
                        .i-star.active
                        .i-star.active
                        .i-star
                        .i-star
                    .i-help
                  .mod-vertical-card-tier
                    strong
                      | Bronze Plan
                      i.i-help
                .mod-vertical-card-actions
                  a.button.action.full-width.i-clock href='#' Quick Enroll
                  a.button.outline.full-width.mini href='#' View Details
                  a.mod-vertical-card-hint href="#" What is a Quick Enroll plan?
            td.sbs-col
              .mod-vertical-card-header.connected-top
                .mod-vertical-card-details
                  .mod-vertical-card-stars
                    .com-rating.compact.narrow
                      .stars
                        .i-star.active
                        .i-star.active
                        .i-star.active
                        .i-star
                        .i-star
                    .i-help
                  .mod-vertical-card-tier
                    strong
                      | Bronze Plan
                      i.i-help
                .mod-vertical-card-actions
                  a.button.action.full-width.i-clock href='#' Quick Enroll
                  a.button.outline.full-width.mini href='#' View Details
                  a.mod-vertical-card-hint href="#" What is a Quick Enroll plan?
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | On Exchange Plan
                  i.i-help
                .mod-vertical-card-tier
                  strong Classic Bronze D
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | On Exchange Plan
                  i.i-help
                .mod-vertical-card-tier
                  strong Classic Bronze Dep29 Classi9
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | On Exchange Plan
                  i.i-help
                .mod-vertical-card-tier
                  strong Classic Bronze Dep29 Classi9
          tr.sbs-row.sticky-start-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Monthly Premium
                  i.i-help
                .mod-vertical-card-price
                  .sign-vertical
                    .icon-discount-white
                  span.mod-vertical-card-price-value $125
                  small.mod-vertical-card-price-period
                    '  /month
                ul.mod-icon-list.condensed
                  li.icon-checkmark Under $200
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Monthly Premium
                  i.i-help
                .mod-vertical-card-price
                  span.mod-vertical-card-price-value $125
                  small.mod-vertical-card-price-period
                    '  /month
                ul.mod-icon-list.condensed
                  li.icon-checkmark Under $200
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Monthly Premium
                  i.i-help
                .mod-vertical-card-price
                  span.mod-vertical-card-price-value $125
                  small.mod-vertical-card-price-period
                    '  /month
                ul.mod-icon-list.condensed
                  li.icon-checkmark Under $200
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Deductible
                  i.i-help
                .mod-vertical-card-price
                  strong.mod-vertical-card-price-value.small $3,500
                  span.mod-vertical-card-price-period.small
                    '  /year
                ul.mod-icon-list.condensed
                  li.icon-checkmark Under $4,000
                a.mod-vertical-card-hint href="#" No per person deductible
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Deductible
                  i.i-help
                .mod-vertical-card-price
                  strong.mod-vertical-card-price-value.small $3,500
                  span.mod-vertical-card-price-period.small
                    '  /year
                ul.mod-icon-list.condensed
                  li.icon-checkmark Under $4,000
                a.mod-vertical-card-hint href="#" No per person deductible
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Deductible
                  i.i-help
                .mod-vertical-card-price
                  strong.mod-vertical-card-price-value.small $3,500
                  span.mod-vertical-card-price-period.small
                    '  /year
                ul.mod-icon-list.condensed
                  li.icon-checkmark Under $4,000
                a.mod-vertical-card-hint href="#" No per person deductible
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Max Out of Pocket
                  i.i-help
                .mod-vertical-card-price
                  strong.mod-vertical-card-price-value.small $5,400
                  span.mod-vertical-card-price-period.small
                    '  /year
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Max Out of Pocket
                  i.i-help
                .mod-vertical-card-price
                  strong.mod-vertical-card-price-value.small $5,400
                  span.mod-vertical-card-price-period.small
                    '  /year
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Max Out of Pocket
                  i.i-help
                .mod-vertical-card-price
                  strong.mod-vertical-card-price-value.small $5,400
                  span.mod-vertical-card-price-period.small
                    '  /year
          tr.sbs-row.clear
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Your Prescriptions
                  i.i-help
                div.mod-vertical-card-description-item
                  b $2,700/person &nbsp;
                  span
                    | plan deductible &nbsp;
                    i.i-help
                div.mod-vertical-card-description-item
                  b $13000/family &nbsp;
                  span
                    | plan deductible &nbsp;
                    i.i-help
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Your Prescriptions
                  i.i-help
                div.mod-vertical-card-description-item
                  b $2,700/person &nbsp;
                  span
                    | plan deductible &nbsp;
                    i.i-help
                div.mod-vertical-card-description-item
                  b $13000/family &nbsp;
                  span
                    | plan deductible &nbsp;
                    i.i-help
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Your Prescriptions
                  i.i-help
                div.mod-vertical-card-description-item
                  b $2,700/person &nbsp;
                  span
                    | plan deductible &nbsp;
                    i.i-help
                div.mod-vertical-card-description-item
                  b $13000/family &nbsp;
                  span
                    | plan deductible &nbsp;
                    i.i-help
          tr.sbs-row.clear
            td.sbs-col
              .mod-vertical-card-section
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .list-truncation
                      span.truncate Prozac
            td.sbs-col
              .mod-vertical-card-section
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .list-truncation
                      span.truncate Prozac
                .spacer-xs
                span Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                .spacer-s
                span Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
            td.sbs-col
              .mod-vertical-card-section
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .list-truncation
                      span.truncate Prozac
                .spacer-xs
                span Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                .spacer-s
                span Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
          tr.sbs-row.clear
            td.sbs-col
              .mod-vertical-card-section
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .list-truncation
                      span.truncate Cipro
            td.sbs-col
              .mod-vertical-card-section
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .list-truncation
                      span.truncate Cipro
                .spacer-xs
                span Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                .spacer-s
                span Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
            td.sbs-col
              .mod-vertical-card-section
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .list-truncation
                      span.truncate Cipro
                .spacer-xs
                span Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                .spacer-s
                span Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
          tr.sbs-row.clear
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-section-intro
                    | The plan has a tiered provider network. That means you'll have access to two levels of coverage.
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-section-intro
                    | The plan has a tiered provider network. That means you'll have access to two levels of coverage.
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-section-intro
                    | The plan has a tiered provider network. That means you'll have access to two levels of coverage.
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Doctors in Network
                  i.i-help
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .text-truncation
                      .truncate Dr. Jones Frankenstein Frankenstein Frankenstein
                  li.icon-checkmark
                    .text-truncation
                      .truncate Dr. Smith
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Doctors in Network
                  i.i-help
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .text-truncation
                      .truncate Dr. Jones Jones Jones Jones
                  li.icon-checkmark
                    .text-truncation
                      .truncate Dr. Frankenstein Frankenstein
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Doctors in Network
                  i.i-help
                ul.mod-icon-list.condensed
                  li.icon-checkmark
                    .text-truncation
                      .truncate Dr. Jones Jones Jones Jones
                  li.icon-checkmark
                    .text-truncation
                      .truncate Dr. Frankenstein Frankenstein
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Benefits
                  i.i-help
                h4.mod-vertical-card-underlined Doctor visits
                h5.mod-vertical-card-minititle Generic
                div.mod-vertical-card-description-item
                  b Always free
                h5.mod-vertical-card-minititle Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                h5.mod-vertical-card-minititle Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Benefits
                  i.i-help
                h4.mod-vertical-card-underlined Doctor visits
                h5.mod-vertical-card-minititle Generic
                div.mod-vertical-card-description-item
                  b Always free
                h5.mod-vertical-card-minititle Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                h5.mod-vertical-card-minititle Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Benefits
                  i.i-help
                h4.mod-vertical-card-underlined Doctor visits
                h5.mod-vertical-card-minititle Generic
                div.mod-vertical-card-description-item
                  b Always free
                h5.mod-vertical-card-minititle Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                h5.mod-vertical-card-minititle Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
          tr.sbs-row.clear
            td.sbs-col
             .mod-vertical-card-section
                h4.mod-vertical-card-underlined Prescriptions
                h5.mod-vertical-card-minititle Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                h5.mod-vertical-card-minititle Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
            td.sbs-col
             .mod-vertical-card-section
                h4.mod-vertical-card-underlined Prescriptions
                h5.mod-vertical-card-minititle Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                h5.mod-vertical-card-minititle Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
            td.sbs-col
             .mod-vertical-card-section
                h4.mod-vertical-card-underlined Prescriptions
                h5.mod-vertical-card-minititle Primary Visit
                div.mod-vertical-card-description-item
                  b Full price &nbsp;
                  span before deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
                h5.mod-vertical-card-minititle Specialist Visit
                div.mod-vertical-card-description-item
                  b 30$ &nbsp;
                  span after deductible
                div.mod-vertical-card-description-item
                  b 10$ &nbsp;
                  span after deductible
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Estimated Annual Cost
                  i.i-help
                .mod-vertical-card-price
                  span.mod-vertical-card-price-value $1,746
                  small.mod-vertical-card-price-period
                    '  /year
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Estimated Annual Cost
                  i.i-help
                .mod-vertical-card-price
                  span.mod-vertical-card-price-value $1,746
                  small.mod-vertical-card-price-period
                    '  /year
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Estimated Annual Cost
                  i.i-help
                .mod-vertical-card-price
                  span.mod-vertical-card-price-value $1,746
                  small.mod-vertical-card-price-period
                    '  /year
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Network Type
                  i.i-help
                h2.mod-vertical-card-title EPO
                ul.mod-icon-list.condensed
                  li.icon-checkmark No referral needed to see a specialist
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Network Type
                  i.i-help
                h2.mod-vertical-card-title EPO
                ul.mod-icon-list.condensed
                  li.icon-checkmark No referral needed to see a specialist
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Network Type
                  i.i-help
                h2.mod-vertical-card-title EPO
                ul.mod-icon-list.condensed
                  li.icon-checkmark No referral needed to see a specialist
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Network Size
                  i.i-help
                .mod-vertical-card-dl
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 50K
                    .mod-vertical-card-dd Primary care doctors
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 84K
                    .mod-vertical-card-dd Specialists
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 16
                    .mod-vertical-card-dd Hospitals/Medical Centers
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 56
                    .mod-vertical-card-dd Urgent Care Centers
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Network Size
                  i.i-help
                .mod-vertical-card-dl
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 50K
                    .mod-vertical-card-dd Primary care doctors
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 84K
                    .mod-vertical-card-dd Specialists
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 16
                    .mod-vertical-card-dd Hospitals/Medical Centers
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 56
                    .mod-vertical-card-dd Urgent Care Centers
            td.sbs-col
              .mod-vertical-card-section
                .mod-vertical-card-caption
                  | Network Size
                  i.i-help
                .mod-vertical-card-dl
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 50K
                    .mod-vertical-card-dd Primary care doctors
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 84K
                    .mod-vertical-card-dd Specialists
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 16
                    .mod-vertical-card-dd Hospitals/Medical Centers
                  .mod-vertical-card-dl-row
                    .mod-vertical-card-dt 56
                    .mod-vertical-card-dd Urgent Care Centers
          tr.sbs-row
            td.sbs-col
              .mod-vertical-card-section
                h2.mod-vertical-card-title Provider Map
                .mod-card-form.filter
                  label.teal
                    .checkbox.flip
                      input type='checkbox'
                      span.truncate Oscar Blue Cross Blue
                    p MegaClassis Gold Silver Bronze
            td.sbs-col
              .mod-vertical-card-section
                h2.mod-vertical-card-title &nbsp;
                .mod-card-form.filter
                  label.pink
                    .checkbox.flip
                      input type='checkbox'
                      span.truncate Oscar Blue Cross Blue
                    p MegaClassis Gold Silver Bronze
            td.sbs-col
              .mod-vertical-card-section
                h2.mod-vertical-card-title &nbsp;
                .mod-card-form.filter
                  label.pink
                    .checkbox.flip
                      input type='checkbox'
                      span.truncate Oscar Blue Cross Blue
                    p MegaClassis Gold Silver Bronze
```

```js_example
  $(document).ready(function() {
   $('.sbs-sticky-wrapper').stickyScrollRow();
  });

  (function($) {
    $.fn.stickyScrollRow = function() {
      return this.each(function() {
        var $this = $(this),
            $stickyRow = $this.find('.sbs-sticky-row'),
            $innerTable = $this.find('.sbs-table');

        if ($stickyRow) {
          var $stickyCols = $stickyRow.find('.sbs-col');

          function init() {
            resizeFixed();
          }

          function resizeFixed() {
            if ($(this).width() <= 1023) {
              $stickyRow.css('display', 'none');
            }

            var $comparisonWidthRow = $($innerTable.find('.sbs-row')[0]);

            $stickyCols.each(function(index) {
              $comparisonWidth = $($comparisonWidthRow.children()[index]).outerWidth();

              $(this).css('width', $comparisonWidth + 'px');
            });
          }

          function scrollFixed() {
            var $stickyStartRow = $('.sticky-start-row'),
                offset = $(this).scrollTop(),
                tableTop = $innerTable.offset().top,
                tableBottom = tableTop + $innerTable.height(),
                startOffsetTop = $stickyStartRow.offset().top + $stickyStartRow.height(),
                stickyRowTop = $stickyRow.offset().top,
                stickyRowBottom = stickyRowTop + $stickyRow.height();

            if (offset < startOffsetTop || stickyRowBottom > tableBottom - 100) {
              $stickyRow.fadeOut(150);
            } else {
              if ($(this).width() <= 1023) {
                $stickyRow.css('display', 'none');
              } else {
                $stickyRow.fadeIn(150);
                $stickyRow.css('display', 'table-row');
              }
            }
          }

          $(window).on('resize', resizeFixed);
          $(window).on('scroll', scrollFixed);
          init();
        }
      })
    }
  })(jQuery);
```
*/

$plan-comparison-table-border-color: $neutral-5;
$sticky-row-background-color:        $neutral-8;

.mod-plan-comparison-table {
  .plan-comparison-table-card-wrapper {
    overflow-x: scroll;
  }

  .sbs-wrapper {
    border: 1px solid $plan-comparison-table-border-color;
    border-radius: rem-calc(6);

    .mod-vertical-card {
      border: 0;
    }
  }

  .sbs-table {
    position: relative;
    margin-bottom: 0;
    border: 0;
    background-color: transparent;
    table-layout: fixed;
  }

  .sbs-row {
    &:nth-of-type(even) {
      background-color: transparent;
    }

    &.clear {
      border-top: 0;
    }
  }

  .sbs-col {
    min-width: ru(12);
    padding: 0;

    &:not(:last-child) {
      border-right: 1px solid $plan-comparison-table-border-color;
    }
  }

  .sbs-sticky-row {
    display: none;
    position: fixed;
    top: 0;
    background-color: $sticky-row-background-color;
    z-index: 1000;
    border-top: 1px solid $plan-comparison-table-border-color;
    border-bottom: 1px solid $plan-comparison-table-border-color;

    .sticky-card-section {
      display: flex;
      flex: 1 1 auto;
      padding: rem-calc(18) rem-calc(36);
      width: 100%;
      margin-top: 0;
      align-items: center;
    }

    .sticky-card-price {
      @include g-unit(6);
    }

    .sticky-card-button {
      @include g-unit(6);
      margin-bottom: 0;
    }
  }

  .connected-top-header {
    padding-top: 0;
  }

  .connected-bottom-header {
    padding-bottom: 0;
  }
}
