$rhythm-base:                   1.5rem;
$global-container-width:        rem-calc(1240px);
$global-main-nav-logo-margin:   $rhythm-base;
$global-main-nav-logo-width:    rem-calc(89px);
$global-main-nav-padding:       $rhythm-base / 2;

$default-icons:
  adduser,
  alert,
  brokenbone,
  building,
  burger,
  calculator,
  calendar,
  car,
  chat,
  check,
  checkclipboard,
  checkheart,
  clock,
  compose,
  cursor,
  dashboard,
  delete,
  directleft,
  directup,
  directright,
  down,
  download,
  dropdown,
  fastforward,
  file,
  floppydisk,
  folder,
  globe,
  heart,
  help,
  home,
  hook,
  hyphen,
  info,
  left,
  like,
  lock,
  lodging,
  logout,
  mail,
  moneybag,
  navigateleft,
  navigateright,
  openbook,
  page,
  phone,
  plus,
  quote,
  ribbon,
  rows,
  search,
  send,
  settings,
  star,
  stethoscope,
  textfile,
  thermometer,
  trash,
  tropicalfish,
  user,
  up,
  view,
  write;
