// scss-lint:disable all
/*doc
---
title: Password Field
name: password-field
category: Fields - Password Field
---
```slim_example_table
.mod-example
  .password-field
    .textfield
      .field
        label for='password' Vivamus ultricies
        .security
        input type='password' id='password' placeholder='Suspendisse molestie vel'
    ul.password-hints
      li.i-delete Nam consequat maximus
      li.i-delete Maximus a viverra
      li.i-delete Vivamus dictum justo
```

## Simple Password Field
```slim_example_table
.mod-example
  .password-field
    .text-input
      .security
      input type='password' id='password' placeholder='Suspendisse molestie vel'
```

## Hints
```slim_example_table
.mod-example
  .password-field
    .textfield
      .field
        label for='password' Vivamus ultricies
        .security
        input type='password' id='password' placeholder='Suspendisse molestie vel' value='00000000'
    ul.password-hints
      li.i-check.success Nam consequat maximus
      li.i-delete Maximus a viverra
      li.i-delete Vivamus dictum justo
```

## Focus State
```slim_example_table
.mod-example
  .password-field.focused
    .textfield
      .field
        label for='password' Vivamus ultricies
        .security
        input type='password' id='password' placeholder='Suspendisse molestie vel' value='00000000'
    ul.password-hints
      li.i-check.success Nam consequat maximus
      li.i-delete Maximus a viverra
      li.i-delete Vivamus dictum justo
```

```slim_example_table
.mod-example
  .password-field.focused
    .text-input
      .security
      input type='password' id='password' placeholder='Suspendisse molestie vel'
*/
// scss-lint:enable all

$password-field-focused-background-color:  $brand-6;
$password-field-focused-border-color:      $brand-3;
$password-field-border-color:              $neutral-5;

[class^='mod-'] {
  .password-field {
    @include field;
    display: flex;
    flex-direction: column;

    input {
      border-radius: ru(.25);
    }

    .text-input {
      margin-bottom: 0;
    }

    .password-hints {
      margin: 0 0 ru(1);
      padding: 0;
      list-style: none;
      font-family: $font-family-sans-serif;
      display: flex;

      li {
        @include typography-7;
        position: relative;
        margin: ru(-.75) 0 0 ru(1);
        padding-left: ru(.75);
        line-height: ru(.75);
        color: $neutral-4;

        &.i-check {
          color: $brand-2;
        }

        &:before {
          position: absolute;
          top: 1px;
          left: 0;
          margin-right: ru(.167);
        }
      }
    }

    .security {
      @include icon(view);
      position: relative;
      padding-right: ru(1.5);
      cursor: pointer;

      &:before {
        position: absolute;
        right: ru(.5);
        top: ru(.6);
        color: $textfield-security-sign-color;
        margin: 0;
      }
    }

    &.focused {
      .text-input,
      .textfield {
        border-color: $password-field-focused-border-color;
        background-color: $password-field-focused-background-color;

        input {
          background-color: $password-field-focused-background-color;
          border-radius: .375rem;
        }
      }
    }

    @media #{$small-only} {
      align-items: center;
      flex-direction: row;
      margin-bottom: ru(1);

      > * {
        flex-grow: 1;
      }

      .textfield {
        margin-bottom: 0;

        label,
        input {
          padding-left: ru(.75);
          padding-right: ru(.75);
        }
      }

      .password-hints {
        margin: 0 0 0 ru(1);
        flex-direction: column;

        li {
          margin: 0;
        }
      }
    }

    @media #{$medium-up-to-xxlarge} {
      .password-hints li {
        margin: ru(-.33) 0 0 ru(.75);
      }

      .security {
        &:before {
          top: ru(.5);
        }
      }
    }
  }
}
