// scss-lint:disable all
/*doc
---
title: Vertical Card
name: vertical-card
category: Cards - Vertical Card
---

```slim_example_table
.mod-vertical-card
  .mod-vertical-card-header
    h2.mod-vertical-card-title: span Maecenas ullamcorper turpis
    .mod-vertical-card-details
      .mod-vertical-card-stars.lineup
        .i-star.active
        .i-star.active
        .i-star.active
        .i-star
        .i-star
        .i-help
      .mod-vertical-card-tier
        strong
          | Etiam malesuada
          i.i-help
    .mod-vertical-card-actions
      a.button.action.full-width.mini href='#' Nunc mattis
      a.button.outline.full-width.mini href='#' Phasellus sapien
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Etiam malesuada
      strong Suspendisse id felis nulla. Nulla facilisi. Mauris pharetra augue ac arcu dapibus aliquam. Nunc mattis diam libero, vitae dapibus ex dictum in. Nullam tempor scelerisque enim, ut dapibus tellus finibus quis.
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Integer pharetra
        i.i-help
      .mod-vertical-card-price
        .sign-vertical
          .icon-discount-white
        span.mod-vertical-card-price-value $100
        small.mod-vertical-card-price-period
          '  /ornare
      ul.mod-icon-list.condensed
        li.icon-checkmark Dapibus $100
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Phasellus sapien
        i.i-help
      .mod-vertical-card-price
        .sign-vertical Nulla
        strong.mod-vertical-card-price-value.small $1,000
        span.mod-vertical-card-price-period.small
          '  felis
      ul.mod-icon-list.condensed
        li.icon-checkmark Aenean $1,000
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Pellentesque eu tincidunt
        i.i-help
      .mod-vertical-card-price
        strong.mod-vertical-card-price-value.small $1,000
        span.mod-vertical-card-price-period.small
          '  luctus
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Donec venenatis
        i.i-help
      ul.mod-icon-list.condensed
        li.icon-checkmark
          .list-truncation
            span.truncate Lorem Ipsum dolor amet Prozac
          .nowrap
            strong  $10
            span
              '  tristique
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Nam metus massa
        i.i-help
      ul.mod-icon-list.condensed
        li.icon-checkmark
          .text-truncation
            .truncate Nunc ornare ornare nunc, nec efficitur
        li.icon-checkmark
          .text-truncation
            .truncate Sed lobortis
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Mauris tristique
        i.i-help
      ul.mod-simple-list.condensed.no-bullet
        li
          .list-truncation
            span.truncate Etiam malesuada
          span.mod-vertical-card-action $10
        li
          .list-truncation
            span.truncate Phasellus tellus augue
          span.mod-vertical-card-action $10
        li
          .list-truncation
            span.truncate Etiam malesuada quis
          span.mod-vertical-card-action $100
        li
          .list-truncation
            span.truncate  Quisque ac quam
          span.mod-vertical-card-action $10
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Mauris pharetra augue
        i.i-help
      .mod-vertical-card-price
        span.mod-vertical-card-price-value $1,000
        small.mod-vertical-card-price-period
          '  luctus
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Fusce vitae turpis
        i.i-help
      h2.mod-vertical-card-title EGET
      ul.mod-icon-list.condensed
        li.icon-checkmark Suspendisse molestie vel sapien
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | In rhoncus orci et ex
        i.i-help
      .mod-vertical-card-dl
        .mod-vertical-card-dl-row
          .mod-vertical-card-dt 10K
          .mod-vertical-card-dd Pellentesque habitant morbi
        .mod-vertical-card-dl-row
          .mod-vertical-card-dt 10K
          .mod-vertical-card-dd Tristique
        .mod-vertical-card-dl-row
          .mod-vertical-card-dt 10
          .mod-vertical-card-dd Donec imperdiet leo id
        .mod-vertical-card-dl-row
          .mod-vertical-card-dt 10
          .mod-vertical-card-dd Ultricies augue in tortor
  .mod-vertical-card-content
    .mod-vertical-card-section
      h2.mod-vertical-card-title Phasellus viverra
      .mod-card-form.filter
        label.teal
          .checkbox.flip
            input type='checkbox'
            span.truncate Suspendisse sed sem sagittis
          p Nam consequat maximus turpis
```

## Enrollment variation
```slim_example_table
.mod-vertical-card
  .mod-vertical-card-header
    h2.mod-vertical-card-title Phasellus tellus augue, maximus a viverra
    .mod-vertical-card-details
      .mod-vertical-card-stars.big
        .i-star.active
        .i-star.active
        .i-star.active
        .i-star
        .i-star
        .i-help
      .mod-vertical-card-tier.big
          strong
            | Proin et ultrices
            i.i-help
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Morbi sit amet dapibus
        i
      .mod-vertical-card-price
        span.mod-vertical-card-price-value $100
        small.mod-vertical-card-period
          '  /viverra
      ul.mod-icon-list.condensed
        li.icon-checkmark Vivamus $100
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Vestibulum
        i.i-help
      .mod-vertical-card-price
        strong.mod-vertical-card-price-value.small $1,000
        span.mod-vertical-card-price-period.small
          '  /ultrices
      ul.mod-icon-list.condensed
        li.icon-checkmark Vivamus $1,000
  .mod-vertical-card-content
    .mod-vertical-card-section
      .mod-vertical-card-caption
        | Etiam malesuada
      strong Nullam metus velit, efficitur commodo elementum vitae, porttitor id tortor
```

## Mini variation
```slim_example_table
.mod-vertical-card.mini
  .mod-vertical-card-header
    h2.mod-vertical-card-title Sed non tortor id neque posuere luctus ac vel sapien. Nullam metus velit.
    .mod-vertical-card-extra AMET
    .mod-vertical-card-break
      .mod-vertical-card-stars.lineup
        .i-star.active
        .i-star.active
        .i-star.active
        .i-star
        .i-star
        .i-help
  .mod-vertical-card-content
    .mod-vertical-card-section.half-width-on-mobile
      .mod-vertical-card-caption Maecenas ullamcorper
      .mod-vertical-card-shift
        .mod-vertical-card-price
          .sign
            .icon-discount-white
          span.mod-vertical-card-price-value $100
          small.mod-vertical-card-price-period
            '  /quis
        ul.mod-icon-list.condensed
          li.icon-close-accent Aenean $100
    .mod-vertical-card-section.half-width-on-mobile
      .mod-vertical-card-caption Ullamcorper
      .mod-vertical-card-shift
        .mod-vertical-card-type
          strong $1,000
        ul.mod-icon-list.condensed
          li.icon-checkmark Quis $1,000
    .mod-vertical-card-plan
      ' Proin at nunc
      br
      strong Nunc mattis molestie libero, sed vulputate ipsum aliquet vitae
  .mod-vertical-card-footer
    .mod-vertical-card-actions
      a.button.action Proin

css:
  .mod-vertical-card.mini {
    max-width: 320px;
  }
*/
// scss-lint:enable all

$vertical-card-background-color:                    $neutral-8;
$vertical-card-border-color:                        $neutral-5;
$vertical-card-border-radius:                       ru(.25);
$vertical-card-color:                               $neutral-2;
$vertical-card-soft-color:                          $neutral-3;
$vertical-card-help-icon-color:                     $neutral-5;
$vertical-card-help-icon-hover-color:               $neutral-2;
$vertical-card-star-color:                          $brand-5;
$vertical-card-star-active-color:                   $brand-2;
$vertical-card-section-border-color:                $neutral-6;
$vertical-card-header-background-color:             $neutral-7;
$vertical-card-footer-background-color:             $neutral-7;
$vertical-card-action-color:                        $action-2;

.mod-vertical-card {
  @include typography-6;
  font-weight: 400;
  color: $vertical-card-color;
  margin: 0;
  background-color: $vertical-card-background-color;
  border: 1px solid $vertical-card-border-color;
  border-bottom-width: rem-calc(4px);
  border-radius: $vertical-card-border-radius;

  .i-help {
    line-height: ru(1);

    &:before {
      margin: 0 0 0 ru(.33);
      font-size: rem-calc(12px);
      color: $robust-card-help-icon-color;
      transition: color 250ms ease;
    }
  }

  &-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: $vertical-card-border-radius $vertical-card-border-radius 0 0;
    padding: ru(.75) ru(1.5);
    flex-direction: column;
  }

  &-title {
    @include typography-3;
    flex: 1 1 auto;
    flex-basis: auto;
    font-weight: 600;
    margin-bottom: 0;
    color: $vertical-card-color;
    width: auto;
  }

  &-tier {
    &.big {
      font-size: ru(.66);
    }
  }

  &-break {
    width: 100%;
    margin: 0;
  }

  &-details {
    @include typography-7;
    display: flex;
    margin-top: ru(.5);
    margin-bottom: 0;
    width: 100%;
    color: $vertical-card-soft-color;
    justify-content: space-between;
  }

  &-minititle {
    @include typography-6;
    margin-bottom: ru(.167);
    font-weight: bold;
    color: $robust-card-color;
  }

  &-content {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: ru(.75) ru(1.5);
    margin-top: 0;
    width: 100%;
    border-top: 1px solid $vertical-card-border-color;

    .mod-icon-list {
      // scss-lint:disable ImportantRule
      margin-bottom: 0 !important;
      // scss-lint:enable ImportantRule
    }
  }

  &-subtitle {
    @include like-h4;
    margin-bottom: 0;

    &.indent {
      margin-bottom: ru(.25);
    }
  }

  &-plan {
    color: $vertical-card-soft-color;
  }

  &-section-intro {
    @include typography-7;
    font-style: italic;
    margin-bottom: ru(.5);

    a {
      color: $robust-card-intro-link-color;
    }
  }

  &-caption {
    margin: 0 0 ru(.25);
    cursor: help;

    > span {
      display: none;
    }
  }

  &-shift {
    margin-top: ru(.167);

    .mod-simple-list {
      margin-bottom: 0;
    }
  }

  &-price {
    @include badge(sign, 1, .3rem, '', .75, .75);
    margin: 0;
  }

  &-price-value {
    @include typography-3;
    font-weight: 600;
    margin: 0;

    &.small {
      @include typography-5;
    }
  }

  &-price-period {
    @include typography-4;
    margin: 0;

    &.small {
      @include typography-5;
    }
  }

  &-type {
    @include badge(sign, 1, .3rem, '', .75, .75);
    @include typography-5;
    font-weight: 600;
    margin: 0 0 ru(.4);

    span {
      @include typography-7;
      margin: 0;
      line-height: 1;
      font-weight: 400;
    }
  }

  &-footer {
    display: flex;
    padding: ru(.5) ru(1);
    background-color: $vertical-card-footer-background-color;
    border-top: 1px solid $vertical-card-border-color;
    border-radius: 0 0 ru(.125) ru(.125);
  }

  &-actions {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    margin-top: ru(.75);
    flex-direction: column;

    .button {
      @include typography-7;
      padding: ru(.33) ru(1.5);
      margin-right: ru(.5);
      margin-bottom: 0;

      // scss-lint:disable NestingDepth
      &.action {
        width: auto;
        margin-bottom: 0;
        min-width: ru(6);
        padding: ru(.292) ru(.75) ru(.25);
        align-self: flex-start;
      }

      &.outline {
        padding-left: ru(.5);
        padding-right: ru(.5);
        background-color: transparent;

        &:hover,
        &:focus,
        &:active {
          background-color: $button-outline-hover-background-color;
        }
      }

      &:not(:first-child) {
        margin-top: ru(.5);
      }
      // scss-lint:enable NestingDepth
    }
  }

  &-action {
    display: block;
    margin-top: ru(-.125);
    font-weight: 600;
    color: $vertical-card-action-color;
  }

  &-description-item {
    font-style: italic;
    font-weight: 300;

    div {
      font-style: normal;
      font-weight: 700;
    }

    b {
      color: $robust-card-check-color;
      font-style: normal;
      font-weight: 600;
    }
  }

  &-stars {
    display: flex;
    align-content: center;
    margin-right: ru(.5);

    &.lineup {
      margin-right: ru(.75);
    }

    &.big {
      // scss-lint:disable NestingDepth
      .i-star {
        font-size: 1rem;

        + .i-stat {
          margin-left: ru(.167);
        }
      }
      // scss-lint:enable NestingDepth
    }
  }

  &-dl {
    display: table;
  }

  &-dl-row {
    display: table-row;
  }

  &-dt,
  &-dd {
    display: table-cell;
    vertical-align: middle;
  }

  &-dt {
    @include typography-4;
    font-weight: 600;
    margin: 0;
    padding-right: ru(.5);
  }

  &-dd {
    word-break: break-all;
  }

  strong {
    color: $vertical-card-color;
    font-weight: 600;
  }

  .list-truncation {
    @include text-truncation;
    table-layout: auto;

    > * {
      display: table-cell;
    }

    strong {
      font-weight: 600;
      padding-right: ru(.5);
      margin: 0;
    }
  }

  .truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
    max-width: 1px;
  }

  .mod-simple-list {
    li {
      margin-bottom: rem-calc(5px);
    }
  }

  .i-star {
    font-size: rem-calc(14px);
    line-height: ru(1);
    color: $vertical-card-star-color;

    &:not(:first-child) {
      margin-left: ru(.167);
    }

    &:before {
      margin: 0;
      line-height: ru(.667);
    }

    &.active {
      color: $vertical-card-star-active-color;
    }
  }

  &-underlined {
    @include typography-5;
    font-weight: 600;
    margin: 0 0 ru(.33);
    position: relative;
    padding: 0 ru(.15);
    margin-left: ru(-.15);
    display: inline-block;
    vertical-align: middle;
    align-self: flex-start;

    &:after {
      content: '';
      position: absolute;
      bottom: rem-calc(-2px);
      left: 0;
      right: 0;
      height: rem-calc(2px);
      background: $robust-card-check-color;
    }
  }

  &-hint {
    @include typography-7;
    display: inline-block;
    margin-top: ru(.33);
    margin-bottom: 0;
  }

  &.mini {
    @include typography-7;
    position: relative;
    margin: 0;
    border-bottom-width: ru(.167);

    .mod-vertical-card-header {
      flex-wrap: wrap;
      padding: ru(.75) ru(.75) ru(.5);
      background-color: $vertical-card-header-background-color;
      border-bottom: 1px solid $vertical-card-border-color;
    }

    .mod-vertical-card-title {
      @include typography-5;
      font-weight: 600;
      margin: 0;
      color: $vertical-card-color;
    }

    .mod-vertical-card-extra {
      @include typography-6;
      font-weight: 600;
      margin: ru(.167) 0 0 auto;
      padding-left: ru(1);
      align-self: flex-start;
    }

    .mod-vertical-card-content {
      flex-wrap: wrap;
      margin: 0;
      padding: ru(.75);
    }

    .mod-vertical-card-section {
      padding: 0;
      width: 100%;
      border-top: 0;

      // scss-lint:disable all
      &:not(:first-child) {
        border-left: 0;
        margin-top: 0;
      }

      &:not(:last-child) {
        margin-bottom: ru(.4);
      }

      &:nth-child(1),
      &:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 50%;
      }
      // scss-lint:enable all
    }

    .mod-vertical-card-caption {
      margin-bottom: ru(.167);
    }

    .mod-vertical-card-price-value {
      @include typography-2;
      font-weight: 600;
      margin: 0;
    }

    .mod-vertical-card-price-period {
      @include typography-6;
      margin: 0 0 0 rem-calc(5px);
    }

    .mod-vertical-card-type {
      @include typography-4;
      font-weight: 600;
      margin: 0;
    }

    .mod-vertical-card-footer {
      padding: 0 ru(.75) ru(1);
      border-top: 0;
      background-color: $vertical-card-background-color;
    }

    .mod-vertical-card-actions {
      // scss-lint:disable all
      .button.action {
        margin: 0;
        width: 100%;
      }
      // scss-lint:enable all
    }
  }

  @media #{$medium-up} {
    &-mobile {
      display: none;
    }

    &-section {
      &:not(:first-child) {
        border-left: 1px solid $vertical-card-section-border-color;
      }
    }
  }

  @media #{$medium-only} {
    &-header {
      padding: ru(.75);
    }

    &-hint {
      line-height: ru(.75);
    }

    &-section {
      padding: ru(.5) ru(.75);

      // scss-lint:disable NestingDepth
      .mod-icon-list {
        @include typography-7;
        margin-bottom: 0;
        line-height: ru(.75);

        li {
          &:before {
            top: rem-calc(3px);
            font-size: rem-calc(16px);
          }

          &.icon-checkmark:before {
            width: ru(.583);
            height: ru(.583);
            top: rem-calc(2px);
          }
        }
      }
      // scss-lint:enable NestingDepth
    }

    &-price-value {
      @include typography-3;
      font-weight: 600;
      margin: 0;
    }

    &-type {
      @include typography-6;
      font-weight: 600;
      margin: 0 0 ru(.125);
    }

    &-actions {
      .button.action {
        min-width: 0;
      }
    }

    &-footer {
      padding: ru(.5) ru(.75);
    }

    .i-star {
      &:not(:first-child) {
        margin-left: ru(.125);
      }
    }
  }

  @media #{$small-only} {
    @include typography-7;
    margin: 0;
    border-bottom-width: ru(.167);

    &-header {
      flex-wrap: wrap;
      padding: ru(.75) ru(.75) ru(.5);
      background-color: $vertical-card-header-background-color;
      border-bottom: 1px solid $vertical-card-border-color;
    }

    &-title {
      @include typography-4;
      font-weight: 600;
      margin: 0;
      color: $vertical-card-color;
      flex-basis: auto;
    }

    &-content {
      flex-wrap: wrap;
      margin: 0;
      padding: ru(.75);
    }

    &-section {
      margin-top: ru(.75);
      padding: 0;
      justify-content: space-between;
      width: 100%;

      &.half-width-on-mobile {
        margin-top: 0;
        flex-basis: auto;
        width: rem-calc(200px);
        margin-bottom: ru(.5);
      }
    }

    &-caption {
      > span {
        display: inline;
      }
    }

    &-type {
      @include typography-6;
      font-weight: 600;
      margin: 0 0 ru(.125);
    }

    &-price-value {
      @include typography-3;
      font-weight: 600;
      margin: 0;
    }

    &-price-period {
      @include typography-6;
      margin: 0 0 0 rem-calc(5px);
    }

    &-footer {
      padding: 0 ru(.75) ru(.75);
      border-top: 0;
      background-color: $vertical-card-background-color;
    }

    &-actions {
      flex-wrap: wrap;

      .button {
        width: 100%;
        margin-right: 0;

        // scss-lint:disable NestingDepth
        &:not(:first-child) {
          margin-top: ru(.5);
        }

        &.action {
          width: 100%;
        }
        // scss-lint:enable NestingDepth
      }
    }

    &-header,
    &-section {
      padding: ru(.75);
    }

    &-header {
      background-color: transparent;
      border-bottom: 0;
    }

    &-section {
      margin-bottom: 0;
    }

    &-content {
      padding: 0;
    }
  }
}
