// Resets all elements having a class name starting with `mod-` (plus descendants)
// scss-lint:disable MergeableSelector
[class^='mod-'] {
  @extend %reset;
}
// scss-lint:enable MergeableSelector

.layout-about {
  @extend %grid-row;

  .layout-main,
  .layout-contactform,
  .layout-chatcall {
    @include grid-column(12);
    margin-bottom: ru(1);
  }

  @media #{$small-only} {
    .layout-nav {
      display: none;
    }
  }

  @media #{$medium-up} {
    .layout-nav {
      @include grid-column(2);
    }

    .layout-main,
    .layout-contactform,
    .layout-chatcall {
      margin-bottom: 0;
    }

    .layout-main {
      @include grid-column(9, $offset: 1);
    }

    .layout-contactform {
      @include grid-column(7);
    }

    .layout-chatcall {
      @include grid-column(5);
    }
  }
}

// scss-lint:disable MergeableSelector
[class^='mod-'] .layout-banner {
  @extend %grid-row;

  .logo {
    max-width: 354px;
  }

  @media #{$small-only} {
    text-align: center;
    header { @include grid-column(12); }
    aside { @include grid-column(12); }
    .logo { margin-top: ru(1); }
  }

  @media #{$medium-up} {
    header { @include grid-column(4); }
    aside { @include grid-column(7, $offset: 1); }
  }
}
// scss-lint:enable MergeableSelector
